<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" >Gshop</a>
    <button (click)="toggleNavBar()" class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" roterLinkActive="active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin===true" routerLink="/admin/goods">Dashboard</a>
        </li>

      
        <li class="nav-item" *ngIf="!isUser ; else notUser">
            <a class="btn btn-primary"  (click)="loginWithGoogle()" >Log in with Google</a>
          </li>
         
      <ng-template  #notUser>  
        <ul class="navbar-nav">
        
        <li ngbDropdown class="nav-item dropdown">
          <a class="btn btn-light" ngbDropdownToggle class="nav-link dropdown-toggle" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > 
            Hello {{userName}} !</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item"  routerLink="/cart">Cart</a>
              <button class="btn btn-light" 
               class="dropdown-item"(click)="logout()">Log out</button>
            </div> 
        </li>
        </ul>
       
    </ng-template>
      </ul>
    </div>
  </nav>